<div class="container table-container">
<p id="notice"><%= notice %></p>

<h1>Employees</h1>
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col">id#</th>
        <th scope="col">Email</th>
        <th scope="col">Name</th>
        <th scope="col">Position</th>
        <th scope="col">Private number</th>
        <th scope="col">Active</th>
        <th scope="col">Store</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.id %></td>
          <td><%= employee.email %></td>
          <td><%= employee.name %></td>
          <td><%= employee.position %></td>
          <td><%= employee.private_number %></td>
          <td><%= employee.active %></td>
          <td><%= employee.store.name %></td>
          <td><%= link_to image_tag("find.png", size: "40x40"), employee %></td>
          <td><%= link_to image_tag("edit.png", size: "40x40"), edit_employee_path(employee) %></td>     
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
<%= link_to 'New Employee', new_employee_path, class: "btn btn-success " %>
</div>
