<div class="container table-container">
  <p id="notice"><%= notice %></p>

  <h1>Stores</h1>

  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @stores.each do |store| %>
        <tr>
          <td><%= store.name %></td>
          <td><%= store.address %></td>
          <td><%= link_to image_tag("find.png", :size => "40x40"), store %></td>
          <td><%= link_to image_tag("edit.png", :size => "40x40"), edit_store_path(store) %></td>
          <td><%= link_to image_tag("x.png", :size => "40x40"), store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Store', new_store_path, class: "btn btn-success " %>
</div>
