<h1>Login</h1> 
<%= form_tag('/admin') do %>
  <div class="mb-3">
    <p> 
    <%= label_tag :email, nil, class: "form-label"%> 
    <%= text_field_tag :email, nil, class: "form-control" %> 
    </p> 
  </div>
  <div class="mb-3">
    <p> 
    <%= label_tag :password, nil, class: "form-label" %> 
    <%= password_field_tag :password, nil, class: "form-control" %> 
    </p>
  </div>
  <div class="mb-3">
    <%= submit_tag 'Log in', class: "btn btn-primary"%>
    </p>
  </div>
<% end %>

